body,
html{
  background-color: #FEF9FF;
}

#new-game{
  color: #FEF9FF;
  text-decoration: none;
  font-size: 20px;
}

#brand{
  font-size: 30px;
  word-spacing: 1em;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

#content-wrap{
  padding-bottom: 2.5rem;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: #FEF9FF;;
}
