<div class="container-fluid">
<div class="col-md-10 cardholder" >
<div class="card " (click)="onRotateCard()">
  <div class="face back">
    <img src="">
  </div>


  <div class="face front" >
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- <img class="card-img-top" src="../../shared/images/question.jpg" alt="Card image cap"> -->
      <img src="../../shared/images/question.jpg" alt="Question Image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body" style="height:300px">
      <!--Title-->
      <h4 class="card-title">Question # 1</h4>
      <hr>
      <!--Text-->
      <p class="card-text">Who was the King of Gods in Ancient Greek mythology?</p>
      <a class="link-text">
        <h5 class="waves-light" mdbWavesEffect>Read more</h5>
      </a>
    </div>
    <!--/.Card content-->


  </div>
</div>
</div>
</div>
